.slick-slider {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    width: 100%;
}

.slick-dots {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
}

.slick-dots button {
    width: 10px;
    height: 50px;
    background-color: #ccc;
    font-size: 0;
    border: none;
    margin: 15px 0;
    border-radius: 0;
    transition: ease-in .3s;
    opacity: .5;
}

.slick-dots .slick-active button {
    background-color: #0aaee4;
}